.title {
  color: orange;
  margin-top: 0;
  font-size: 22px;
  font-weight: 900;
}

.castGallery {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  display: grid;
  max-width: calc(100vw - 80px);
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 16px;
  list-style: none;
}

.castItem {
  padding: 5px;
  border-radius: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(88, 87, 87, 0.5)),
    to(rgba(61, 60, 60, 0.85))
  );
  box-shadow: 2px 3px 5px white;
}
